{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Admin</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}" />
  </head>
  <body>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar">
      <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
      <div class="full-box dashboard-sideBar-ct">
        <!--SideBar Title -->
        <div
          class="full-box text-uppercase text-center text-titles dashboard-sideBar-title"
        >
          Administracion
          <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
        </div>
        <!-- SideBar User info -->
        <div class="full-box dashboard-sideBar-UserInfo">
          <figure class="full-box">
            <span class="image fit"
              ><img src="{% static 'images/milesmoralias.jpg' %}" alt=""
            /></span>
            <figcaption class="text-center text-titles">Astro_PzT</figcaption>
          </figure>
          <ul class="full-box list-unstyled text-center"></ul>
        </div>
        <!-- SideBar Menu -->
        <ul class="list-unstyled full-box dashboard-sideBar-Menu">
          <li>
            <a href="#!" class="btn-sideBar-SubMenu">
              <i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Paginas
              Principales
              <i class="zmdi zmdi-caret-down pull-right"></i>
            </a>
            <ul class="list-unstyled full-box">
              <li>
                <a href="http://localhost:9020/web/PagPrincipal/"
                  ><i class="zmdi zmdi-account zmdi-hc-fw"></i> Pagina
                  Principal</a
                >
              </li>
              <li>
                <a href="http://localhost:9020/web/PagPrincipalVIP/"
                  ><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Pagina
                  Principal VIP</a
                >
              </li>
              <li>
                <a href="http://localhost:9020/web/adminmangas/"
                  ><i class="zmdi zmdi-face zmdi-hc-fw"></i> Mangas x Monas
                  Chinas</a
                >
              </li>
              <li>
                <a
                  href="http://localhost:9020/web/inicio_sesion/"
                  id="cerrarsesionbtn"
                  ><i class="zmdi zmdi-power"></i> Cerrar Sesion
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

    <!-- Content page-->
    <section class="full-box dashboard-contentPage">
      <!-- NavBar -->
      <nav class="full-box dashboard-Navbar">
        <ul class="full-box list-unstyled text-right">
          <li class="pull-left">
            <a href="#!" class="btn-menu-dashboard"
              ><i class="zmdi zmdi-more-vert"></i
            ></a>
          </li>
          <li>
            <a href="#!" class="btn-Notifications-area">
              <i class="zmdi zmdi-notifications-none"></i>
              <span class="badge">0</span>
            </a>
          </li>
          <li>
            <a href="#!" class="btn-modal-help"
              ><i class="zmdi zmdi-help-outline"></i
            ></a>
          </li>
        </ul>
      </nav>
      <!-- Content page -->
      <div class="container-fluid">
        <div class="page-header">
          <h1 class="text-titles">
            <i class="zmdi zmdi-account zmdi-hc-fw"></i> Usuarios
            <small>Admin</small>
          </h1>
        </div>
        <p class="lead">Usuarios/Administración Usuarios</p>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <ul class="nav nav-tabs" style="margin-bottom: 15px">
              <li class="active"><a href="#new" data-toggle="tab">Nuevo</a></li>
              <li>
                <a
                  href="#list"
                  data-toggle="tab"
                  aria-expanded="true"
                  onclick="cargarListaUsuarios()"
                  >Lista</a
                >
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="new">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                      <form
                        action="http://localhost:9020/web/administracion/"
                        method="post"
                        class="registro_form"
                        name="wawita"
                        id="wawita"
                      >
                        {% csrf_token %}
                        <div class="form-group label-floating">
                          <label class="control-label">Usuario</label>
                          <input
                            class="form-control"
                            type="text"
                            name="username"
                          />
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Correo</label>
                          <input
                            class="form-control"
                            type="text"
                            name="email"
                          />
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label">Contraseña</label>
                          <input
                            class="form-control"
                            type="password"
                            name="contra"
                            id="pass"
                          />
                        </div>
                        <p class="text-center">
                          <button
                            type="submit"
                            class="btn btn-info btn-raised btn-sm"
                          >
                            <i class="zmdi zmdi-floppy"></i> Guardar
                          </button>
                        </p>
                        <div
                          id="avisoGuardadoExitoso"
                          class="aviso aviso-centered bg-success"
                        >
                          Usuario guardado exitosamente en la base de datos.
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="list">
                <div class="table-responsive">
                  <table class="table table-hover text-center">
                    <thead>
                      <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Usuarios</th>
                        <th class="text-center">Correo</th>
                        <th class="text-center">Actualizar</th>
                        <th class="text-center">Eliminar</th>
                      </tr>
                    </thead>
                    <tbody id="tbodyUsuarios"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Notifications area -->
    <section class="full-box Notifications-area">
      <div class="full-box Notifications-bg btn-Notifications-area"></div>
      <div class="full-box Notifications-body">
        <div class="Notifications-body-title text-titles text-center">
          Notificaciones <i class="zmdi zmdi-close btn-Notifications-area"></i>
        </div>
        <div class="list-group">
          <!-- Contenido de las notificaciones -->
        </div>
      </div>
    </section>

    <!-- Modal para actualizar usuario -->
    <div
      id="modalActualizarUsuario"
      class="modal fade"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div
            class="modal-header text-white"
            style="background-color: #019c95; color: white"
          >
            <h5 class="modal-title">Actualizar Usuario</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Formulario para actualizar usuario -->
            <form id="formActualizarUsuario">
              <div class="form-group">
                <label for="newUsername">Nombre de usuario:</label>
                <input
                  type="text"
                  class="form-control"
                  id="newUsername"
                  placeholder="Nuevo nombre de usuario"
                />
              </div>
              <div class="form-group">
                <label for="newEmail">Correo electrónico:</label>
                <input
                  type="email"
                  class="form-control"
                  id="newEmail"
                  placeholder="Nuevo correo electrónico"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              id="btnActualizarUsuario"
              type="button"
              class="btn btn-primary"
            >
              Actualizar
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Animación de confirmación de eliminación -->
    <div id="delete-animation" class="delete-animation">
      Notificación eliminada con éxito
    </div>

    <!-- Dialog help -->
    <div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Ayuda</h4>
          </div>
          <div class="modal-body">
            <p>Comunicate con un Dueño</p>
            <p>Alva_Kyum: alvaritoelmascapito@gmail.com</p>
            <p>NeroTKZ: Nerotetaseca@gmail.com</p>
            <p>MrLazz: misterlacio@gmail.com</p>
            <p>Iaket: elchaquetas@gmail.com</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary btn-raised"
              data-dismiss="modal"
            >
              <i class="zmdi zmdi-thumb-up"></i> Ok
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--====== Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'admin/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'admin/js/sweetalert2.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/material.min.js' %}"></script>
    <script src="{% static 'admin/js/ripples.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'admin/js/main.js' %}"></script>
    <script src="{% static 'js/cargar_usuarios.js' %}"></script>
    <script src="{% static 'js/scripanimacion.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </body>
</html>
